
.hltr-yellow {
  color: #EBCB8BFF;
}

.hltr-orange {
  color: #F3A83BFF;
}

.hltr-green {
  color: #A3BE8CFF;
}

.hltr-purple {
  color: #B48EADFF;
}

.hltr-red {
  color: #BF616AFF;
}


.hltr-grey {
  color: #D8DEE9FF;
}

